#main{
    background-color:#000000;
    text-align: center;
}

.green:hover{
    background-color: greenyellow;
}

/*Header styles*/
header.masthead {
  background: url('../img/image.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header.masthead>.overlay {
  padding: 5rem 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}

.text-white{
    color: #ffffff;
}

/*Navbar styles*/
.navbar-position{
    margin: 0;
}

/*Media queries*/
@media (min-width: 992px) {
  header.masthead>.overlay {
    padding: 10rem 0;
  }
}

.pull-right{
    float: right;
}

section{
    padding: 20px;
    text-align: center;
}

.card-inline{
    display: inline-block;
    margin: 5px;
    
}

.columns{
    background-color: antiquewhite;
}
.columns:nth-child(2){
    background-color: aquamarine;
}

.margin-element{
    margin 20px;
}

.center-element{
    text-align: center;
}